#group{
    h1{
        font-size: 28px;
        text-align: center;
        padding: 20px 0px 20px 0px;
        background-color: #252C32;
        color: white;
    }
    #work{
        padding: 20px;
    }
    .bebas{
        font-family: 'Source Sans Pro', sans-serif;
    }

    .hide{
        display: none;
    }
    color: #454545;
}