#memberships {
    img{
        display: none;
    }
    h1{
        font-size: 28px;
        text-align: center;
        padding: 20px 0px 20px 0px;
        background-color: #252C32;
        color: white;
    }
    h2{
        color: #454545;
    }
    button{
        margin: 0px 0px 20px 20px;
    }
    .bebas{
        font-family: 'Source Sans Pro', sans-serif;
    }
    .hide{
        display: none;
    }
    #intro{
        padding: 20px;
        color: #454545;
    }
    #cancel-p{
        color: #454545;
    }
    @include md{
        #intro{
            padding: 0px 90px;
        }
        .hide{
            display: block;
        }
        .title{
            padding-left: 90px;
            font-family: 'Bebas Neue', cursive;
        }
        #member-one{
            display: grid;
            grid-auto-columns: 40% 60%;
            grid-template-areas: "a t";

            table{
                width: 100%;
                height: 250px;
                padding-left: 20px;
            }
            #aside-one{
                grid-area: a;
                background-color: #d8d8d8;
                padding: 20px 20px 20px 70px;
            }
            #table-one{
                grid-area: t;
            }
        }
        #member-two{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas: "m c";

            table{
                width: 100%;
                height: 100px;
                padding-left: 20px;
            }

            #aside-two{
                grid-area: m;
                background-color: #d8d8d8;
                padding: 20px 20px 20px 70px;
            }
            #table-two{
                grid-area: c;
            }
        }
        #cancel{
            background-color: #a1f3de;
            padding: 10px 90px;
            margin-top: 40px;
            h2{
                text-align: center;
            }
            button{
                display: none;
            }
        }
        
    }
    @include xl{
        img{
            display: block;
        }
        #all-stuff{
            display: grid;
            grid-template-columns: 80% 20%;
            grid-template-areas: "pp ii";

            #not-image{
                grid-area: pp;
            }
            #is-image{
                grid-area: ii;
                img{
                    height: 80%;
                }
                margin-bottom: -240px;
                margin-top: -20px;
            }
        }
    }
}