#services {
    h1{
        text-align: center;
        background-color: #252C32;
        color: white;
    }
    img{
        width: 100%;
    }
    #boulder{
        h3 {text-align: center;}
        div {background-color: #d8d8d8;}
    }
    #day{
        h3 {text-align: center;}
        div {background-color: #d8d8d8;}
    }
    #punch{
        h3 {text-align: center;}
        div {background-color: #d8d8d8;}
    }
    #groupon {display: none;}
    #online {display: none;}

    #more{
        background-color: #A1F3DE;
    }
}