#shop {
    h1 {
        font-size: 28px;
        text-align: center;
        padding: 20px 0px 20px 0px;
        background-color: #252C32;
        color: white;
    }

    p {
        color: #454545;
        font-family: 'Source Sans Pro', sans-serif;
    }

    #shop-content {
        padding: 20px;
    }

    p {
        display: none;
    }

    img {
        width: 100%;
    }

    h2 {
        color: #454545;
    }

    h3 {
        text-align: center;
        color: #454545;
    }

    button {
        width: 100%;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
    }

    @include md {
        p {
            display: block;
        }

        #shop-items {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "s1 s2";
            gap: 20px;

            #gear {
                grid-area: s1;
            }

            #merch {
                grid-area: s2;
            }
        }

        #shop-content {
            padding: 20px 90px;
        }
    }

    @include lg {
        #move {
            padding: 0px 100px;
        }
    }

    @include xl {
        h2 {
            padding-left: 60px;
        }

        #move {
            padding-left: 100px;
            padding-left: 110px;
        }
    }
}