#start {
    color: #454545;
    img {
        display: none;
        @include lg{
            display: block;
        }
    }
    h2{
        font-size: 28px;
    }
    p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
    #start-content {
        background-color: #A1F3DE;
        padding: 5px 20px 10px 20px;
        
            #s2 {
                display: none;
            }
            
            #s3 {
                display: none;
            }
           
        button {
            display: none;
            @include lg{
                display: block;
            }
        }
            
        @include md {
            #s2 {
                display: block;
            }
            padding: 40px 110px 40px 110px;
        }
        @include lg{
            #s3 {
                display: block;
            }
        }
    }   
    #hours {
        h2{
            text-align: center;
        }
        table{
            width: 100%;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
            font-weight: 600;
            padding: 0px 20px 0px 20px;
        }
        .time {
            text-align: right;
        }
        @include md{
            padding-left: 150px;
            padding-right: 150px;
        }
    } 
    @include lg{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "gs hs";

        #start-content{
            grid-area: gs;
        }
        #hours{
            grid-area: hs;
            padding: 0;
        }
        img{
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

