/* =============
    Buttons
============= */

button {
    font-family: 'Source Sans Pro', sans-serif;
    border-style: solid;
    border-color: #05b2b8;
    color: #05b2b8;
    background-color: transparent;
}